@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: #222;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    font-size: 1.5rem;
    line-height: 1.5;

}

.japan {
    max-height: fit-content;
    width: 100%;
}
.japantext {
    background-color: #222;
    opacity: 0.8;
    border: 4px 4px 4px 4px;
    border: #444;
    border-style: inset;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
}
.containers {
    flex-direction: column;
    width: 300px;
    height: auto;
}
#jp1 {
    position: absolute;
    top: 15%;
    left: 42%;
    bottom: auto;
    right: auto;
}
#jp2 {
    position: absolute;
    top: 10%;
    right: 25%;
    bottom: auto;
    left: auto;
}
#jp3 {
    position: absolute;
    top: 20%;
    left: 15%;
    bottom: auto;
    right: auto;
}
#jp4 {
    position: absolute;
    top: 15%;
    right: 5%;
    bottom: auto;
    left: auto;
}
#jp5 {
    position: absolute;
    bottom: 15%;
    right: 10%;
    top: auto;
    left: auto;
}
#jp6 {
    position: absolute;
    top: 40%;
    left: 45%;
    right: auto;
    bottom: auto;
}
#jp7 {
    position: absolute;
    top: 10%;
    left: 25%;
    right: auto;
    bottom: auto;
}
#jp8 {
    position: absolute;
    top: 33%;
    left: auto;
    right: 15%;
    bottom: auto;
}
#jp9 {
    position: absolute;
    top: 10%;
    left: auto;
    right: 15%;
    bottom: auto;
}
#jp10 {
    position: absolute;
    top: 33%;
    left 17%;
    right: auto;
    bottom: auto;
}
#jp11 {
    position: absolute;
    top: 40%;
    left: 20%;
    right: auto;
    bottom: auto;
}
#jp12 {
    position: absolute;
    top: 60%;
    left: 33%;
    right: auto;
    bottom: auto;
}
.side-left {
    text-align: left;
    height: fit-content;
    padding-top: 5%;
    padding-left: 5%;
}
.aboutme {
    overflow: visible;
    height: 2px;
    padding: 1%;
}

@media only screen and (max-width: 580px){
    .aboutme {
      height: fit-content;
      overflow: unset;
      margin-top: 10px;
    }
  }