$font-color-nav: rgba(213, 57, 112, 0.784);
$hover-font-color-nav: rgb(5, 70, 9);
$border-color: #4b83789d;
$background-hover-color: #16dc4e9d;

/* Button-Primary Bootstrap Modification */
$theme-colors: (
  "primary": $font-color-nav,
);

/* NavBar Bootstrap Modification */
$navbar-padding-x: 5%;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-color: rgba($font-color-nav, 0.75);
$navbar-light-hover-color: rgba($hover-font-color-nav, 0.7);
$navbar-light-active-color: rgba($font-color-nav, 0.9);
$navbar-light-disabled-color: rgba($font-color-nav, 0.3);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($font-color-nav, 0.1);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-hover-color;

/* This import remains on the bottom of the modified styles  */
@import "~bootstrap/scss/bootstrap";

/* Base Style */
body {
  background-color: rgb(247, 216, 197);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/pexels-satoshi-hirayama-7526815.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* NavBar */
nav {
  background-color: rgba(255, 255, 255, 0.612);
  .nav-button {
    color: $font-color-nav;
    background-color: transparent;
    border: none;
    font-weight: 500;
  }
  .nav-button:hover {
    color: rgba($hover-font-color-nav, 0.7);
  }
  .navbar-brand {
    font-size: 2em;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
  }
  a {
    font-size: 1.75em;
    font-weight: 500;
  }
  a:hover {
    background-color: $background-hover-color;
    border-radius: 5px;
  }
}

/* Footer */
.footer {
  position: fixed;
  background-color: #16dc4e9d;
  color: #222;
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 3px;
}
