.experience section {
  margin: 2rem 0;
}

.experience h2 {
  font-size: 2rem;
}

.experience h3 {
    margin-left: 1.5rem;
    text-align: left;
  margin-top: 1.5rem;
  color: #d3cbcb;
}

.experience ul {
  margin-left: 1.5rem;
}

.experience li {
  text-align: left;
}

