@font-face {
  font-family: "Rock Salt";
  src: url("./Font/RockSalt-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./Font/Raleway-VariableFont_wght.ttf");
}
/* Custom Variables */
$Rock-Font: "Rock Salt", cursive;
$font-color-nav: rgba(213, 57, 112, 0.784);
$hover-font-color-nav: rgba(135, 11, 54, 0.784);
$border-color: rgb(255, 228, 228);
$background-hover-color: rgb(208, 183, 183);
$neutral-background: rgb(132, 112, 112);
$neutral-background-variant: rgb(193, 222, 191);
/* Button-Primary Bootstrap Modification */
$theme-colors: (
  "primary": $font-color-nav,
  "secondary": $background-hover-color,
);
/* Card Bootstrap Modification */
$card-spacer-y: 1%;
$card-spacer-x: $spacer;
$card-title-spacer-y: $spacer / 2;
$card-border-width: null;
$card-border-radius: $border-radius;
$card-border-color: rgba($black, 0.125);
$card-inner-border-radius: subtract($card-border-radius, $card-border-width);
$card-cap-padding-y: $card-spacer-y / 2;
$card-cap-padding-x: $card-spacer-x;
$card-cap-bg: rgba($black, 0.03);
$card-cap-color: null;
$card-height: null;
$card-color: null;
$card-bg: transparent;
$card-img-overlay-padding: $spacer;
$card-group-margin: $grid-gutter-width / 2;
/* NavBar Bootstrap Modification */
$navbar-padding-x: 5%;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-color: rgba($font-color-nav, 0.75);
$navbar-light-hover-color: rgba($hover-font-color-nav, 0.7);
$navbar-light-active-color: rgba($font-color-nav, 0.9);
$navbar-light-disabled-color: rgba($font-color-nav, 0.3);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($font-color-nav, 0.1);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-hover-color;

/* Carousel Bootstrap Modifications */
$carousel-control-color: $border-color;
$carousel-control-width: 15%;
$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 0.9;
$carousel-control-transition: opacity 0.15s ease;
$carousel-indicator-width: 30px;
$carousel-indicator-height: 3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-opacity: 0.5;
$carousel-indicator-active-bg: $white;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity 0.6s ease;
$carousel-caption-width: 70%;
$carousel-caption-color: $white;
$carousel-caption-padding-y: 1.25rem;
$carousel-caption-spacer: 1.25rem;
$carousel-control-icon-width: 2rem;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
$carousel-transition-duration: 0.6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
$carousel-dark-indicator-active-bg: $black;
$carousel-dark-caption-color: $black;
$carousel-dark-control-icon-filter: invert(1) grayscale(100);

/* This import remains on the bottom of the modified styles  */
@import "~bootstrap/scss/bootstrap";

/* Base Style */
body {
  background-color: $border-color;
  background-image: url("./images/pexels-eva-elijas-5779196.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway";
}
/* NavBar */
nav {
  background-color: rgba(255, 255, 255, 0.612);
  .nav-button {
    color: $font-color-nav;
    background-color: transparent;
    border: transparent 4px solid;
    font-weight: 700;
  }
  .nav-button:hover {
    border: $font-color-nav 4px solid;
    border-radius: 10px;
  }
  .navbar-brand {
    font-family: "Rock Salt";
    font-size: 2em;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
  }
  a {
    font-size: 1.75em;
    font-weight: 500;
  }
}
/* Carousel */
.carousel-caption {
  background-color: rgba($border-color, 0.9);
  color: $font-color-nav;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 700;
}
.carousel-item {
  .c-img {
    border: $font-color-nav 3px solid;
  }
}

/* Modal*/
.modal-header {
  background-color: $neutral-background-variant;
  font-weight: 600;
  color: $font-color-nav;
}
.modal-title {
  h1 {
    font-family: "Rock Salt";
  }
}
.modal-body {
  background-color: $neutral-background;
}
.modal-footer {
  background-color: $neutral-background-variant;
  border: $border-color 1px solid;
  .btn {
    font-weight: 700;
    font-size: 1.5em;
  }
}
/* Card Inside Accordion */
.card-header {
  background-color: $border-color;
  font-weight: 600;
  font-size: 1.5em;
  color: $font-color-nav;
  border: $hover-font-color-nav 2px solid;
}
.card-header:hover {
  background-color: $background-hover-color;
  color: rgba($hover-font-color-nav, 0.7);
}
.card-body {
  background-color: $neutral-background-variant;
  border: $font-color-nav 2px solid;
  font-size: 1.45;
  font-weight: 600;
  .btn {
    font-size: 1.25em;
    font-weight: 700;
  }
}
/* Img */
.img {
  width: 75%;
}
.c-img {
  width: 100%;
  height: calc(50% width);
}
/* About Me*/
.quote {
  color: $background-hover-color;
  font-size: 1.25em;
  font-weight: 700;
}
.langs {
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  color: $background-hover-color;
  font-size: 1.5em;
  font-weight: 700;
  border-right: $background-hover-color 2px solid;
}
.message {
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  color: $background-hover-color;
  font-size: 1.5em;
  font-weight: 700;
}
/* Footer */
.footer {
  position: fixed;
  background-color: $neutral-background-variant;
  color: #222;
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 3px;
}
